{% extends "app/layout.html" %} {% block content %}
<h3>{{ title }}</h3></br>
<h3>{{ message }}</h3></br>
<strong>«СТО» - Компания в сфере ремонта автомобилей и продажи автомобильных запасных частей. </strong> </br>Мы никогда не меняем запасные части, если этого не требуется, не навязываем дополнительных услуг. Все ремонтные работы мы предварительно согласовываем с клиентом. Мы ценим свою репутацию и дорожим каждым из наших клиентов.
Приезжайте к нам на диагностику автомобиля, мы произведём тщательный осмотр всех узлов и агрегатов, если потребуется - составим акт дефектовки и закажем запасные части по выгодной цене.
Весь процесс ремонта от начала и до конца Вы можете наблюдать своими глазами, никто не будет просить Вас отойти от подъёмника  или покинуть ремзону. Оставайтесь со своей любимой машиной сколько Вам угодно. </br>
За годы успешной работы наша компания приобрела бесценный опыт, о чем свидетельствуют лестные отзывы наших постоянных клиентов. Мы считаем, что рекомендации и «сарафанное радио» гораздо выгоднее рекламы.
Приезжайте к нам, мы будем рады отремонтировать Ваш автомобиль. Отличный автосервис в Локнянском районе - это реальность! </br>
<strong>С уважением, коллектив «СТО».</strong> </br>

{% endblock %}