{% extends "app/layout.html" %} {% block content %}
<h1>{{ title }}</h1></br>
<h3>{{ message }}</h3></br>
<p>Капремонт машины включает в себя комплекс мер, ориентированных на замену неремонтопригодных деталей (поршни, прокладки) и починку элементов, подлежащих восстановлению до заводских показателей.</p>
<p>По завершении капитального ремонта у двигателя восстанавливаются технические и эксплуатационные характеристики, включая степень сжатия, уровень шума, мощность, плавность пуска. Рассматриваемый тип починки предполагает ремонт всего мотора, а не отдельных узлов.</p>
<h2>Когда необходим ремонт?</h2>
<p>Причины, по которым может потребоваться «капиталка» ДВС:</p>
<ol>
 <li>Увеличение расхода горючего и масла. Это происходит из-за появления чрезмерных зазоров, засора поршневых колец, снижения эластичности маслосъемников.</li>
 <li>Падение мощности ТС.</li>
 <li>Появление темно-синего дыма из выхлопной трубы, что свидетельствует о смешивании масла с топливной смесью.</li>
 <li>Постоянное свечение индикатора масляного давления.</li>
 <li>Мотор стучит или издает другие посторонние звуки. Такая проблема возникает по причине износа кривошипного механизма.</li>
 <li>Наблюдается снижение компрессии. Это свидетельствует об износе прокладок и поршневых колец.</li>
 <li>Образование налета, нагара на свечах.</li>
 <li>Необоснованный перегрев агрегата.</li>
</ol>
<h2>Что входит в процесс?</h2>
<p>После разборки двигателя проводят мойку и чистку комплектующих элементов. Это позволит специалисту выяснить степень изношенности деталей, их ремонтопригодность либо необходимость замены. Определение зазоров сопряженных элементов, проверку цилиндров на задиры и царапины проводят после снятия ГБЦ.
В процессе дефектовки также осматривают поршни на предмет сколов, нагара, шатуны, коленвал мотора. Визуально проверяют газораспределительный узел, подшипники, пальцы, клапаны. Выполняют замеры основных деталей, сравнивая их с заводскими параметрами. После дефектовки оценивают уровень износа, сортируя запчасти для починки, замены, оставления.
</p>
{% endblock %}