{% extends "app/layout.html" %} {% block content %}
<h1>{{ title }}</h1></br>
<h3>{{ message }}</h3></br>
<h2>Когда необходима комплексная диагностика?</h2>
<p>Полное изучение всех систем автомобиля рекомендуется проводить ежегодно, а еще лучше в качестве подготовки к предстоящей смене сезона. Но в некоторые случаях рекомендация превращается в необходимость, а именно:</p>
<ol>
 <li>при покупке б/у машины;</li>
 <li>после ДТП;</li>
 <li>при возникновении странностей в поведении авто.</li>
</ol>
<h2>Состав комплексной диагностики автомобиля</h2>
<p>Полноценная проверка всех узлов и агрегатов включает тщательное изучение:</p>
<ol>
 <li>Двигателя</li>
 <li>Ходовой части</li>
 <li>Всего электрооборудования</li>
 <li>Систем охлаждения и отопления</li>
</ol>
<p>Это первостепенные мероприятия. По желанию клиента могут быть выполнены дополнительные, например, изучение состояния кузова и лакокрасочного покрытия. Эти процедуры полезны в первую очередь при проведении диагностики автомобиля, приобретенного с рук. Так, например, можно узнать, во сколько слоев окрашен автомобиль, нет ли зашпаклеванных вмятин на кузове и т. д.</p>
<h2>Дополнительные мероприятия</h2>
<p>Кроме описанных действий мы рекомендуем регулярно проводить промежуточную диагностику автомобиля. Эта процедура состоит из проверок:</p>
<ol>
 <li>тормозов;</li>
 <li>масла и антифриза (желательно каждый месяц);</li>
 <li>трансмиссионной жидкости в гидроусилителе и КПП;</li>
 <li>аккумулятора.</li>
</ol>
<p>В состав промежуточной диагностики нередко включается чистка салона и визуальный осмотр кузова на предмет повреждений, а также подкачка колес.</p>
{% endblock %}