{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Компьютерная диагностика</h2>
        <p>
           Все услуги в одном месте: от диагностики и запчастей до передачи а/м клиенту.
        </p>
        <p><a class="btn btn-default" href="{% url 'diagnost' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ТО автомобиля</h2>
        <p>
            Своевременное техническое обслуживание - гарантия исправности автомобиля.
        </p>
        <p><a class="btn btn-default" href="{% url 'to' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Капитальный ремонт ДВС</h2>
        <p>
            Все виды ремонта бензиновых и дизельных двигателей.
        </p>
        <p><a class="btn btn-default" href="{% url 'dvs' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Комплексная диагностика автомобиля</h2>
        <p>
           Благодаря такой услуге как комплексная диагностика автомобиля, можно вовремя определить любые неисправности в авто, оценить его технические характеристики, насколько правильно функционируют его системы и т.д. 
        </p>
        <p><a class="btn btn-default" href="{% url 'kompl' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Тормозная система</h2>
        <p>
           Тормозная система решает основные задачи поддержания управляемости автомобиля, безопасность движения.
        </p>
        <p><a class="btn btn-default" href="{% url 'torm' %}">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Рулевое управление</h2>
        <p>
           рулевое управление – одна из важнейших (наряду с тормозной), систем любого транспортного средства. Она включена в перечень обязательных для проверки при прохождении ТО.
        </p>
        <p><a class="btn btn-default" href="{% url 'ryl' %}">Узнать больше &raquo;</a></p>
    </div>

</div>
{% endblock %}
